window#waybar {
    background: rgba(21, 52, 72, 0.35);

    color: white;

    font-family: "CaskaydiaCove NFP";
    font-weight: 400;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#network, #wireplumber, #workspaces button, #temperature, #cpu, #memory, #battery, #clock {
    transition: all 0.25s;
    outline: none;
    padding: 0 10px;
    background: rgba(60, 91, 111, 0.5);
    color: white;
    border: none;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 0;
}

#wireplumber:hover, #workspaces button:hover, #clock:hover {
    box-shadow: inherit;
    text-shadow: inherit;

    background: rgb(60, 91, 111);
    border: none;
    border-top: 5px solid transparent;
    border-bottom: 5px solid white;
}

#workspaces button.active {
    background-color: rgb(118, 171, 174);
}

#workspaces button {
    padding: 0 5px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}
